@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant+Garamond:wght@300&family=Inconsolata:wght@700&family=Lilita+One&family=Pacifico&family=Preahvihear&family=Roboto+Slab&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant+Garamond:wght@300&family=Inconsolata:wght@700&family=Inter:wght@100;400;500;600&family=Lilita+One&family=Pacifico&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant+Garamond:wght@300&family=Inconsolata:wght@700&family=Inter:wght@100;400;500;600&family=Lilita+One&family=Pacifico&family=Preahvihear&family=Rubik:wght@300&display=swap');


/***** set body *************************************************/
h1,h2{
    font-family: Agbalumo;
}

*{
    left: 0;
    top: 0;
    font-family: Rubik;
    font-size: 16px;
    box-sizing: border-box;

}

:root{
    --main-color: #6E68BD;
    --second-color: #FFABC3;
    --third-color: #FCF6BD;
    --background-color: white;
    --font1--color: black;
    --font2--color: rgb(67, 62, 147);
}

body{
    /* background-image: url(picture/bg-body.png);
    background-size: cover;
    background-position: center;
    background-repeat: inherit;
    */
   
}

/***** home *************************************************/

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 10px ;

}

nav img{
    width: 250px;

}

nav .container:nth-child(2){
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    text-align: end;
    flex-wrap: nowrap;
    border-radius: 30px;
    box-shadow: 
    inset 0 -3em 3em var(--second-color),
    0 0 0 2px white, /*border*/
    0.3em 0.3em 1em var(--main-color);
    padding: 5px;
    margin-left: 35px;
    margin: 20px 0px 20px 70px;
}


nav .container .menuBar_item{
    padding:10px;
    border-radius: 30px;
    color: var(--font2--color);
}

nav .container .menuBar_item a{
    text-decoration: none;
    color:  rgb(80, 77, 77);
    
}

nav .container .menuBar_item:first-child{
    background: var(--background-color);
}

nav .container .menuBar_item:hover{
    padding:12px 10px 0px 10px;
    color: rgb(80, 77, 77);
    background: var(--background-color);
}

nav .container:last-child{
    padding: 20px;
}

nav .container > button{
    background: none;
    border: 3px double var(--main-color);
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 20px;
    font-family: Agbalumo;
}

nav .container > button:hover{
    background: var(--background-color);
    box-shadow: 
    0 0 0 2px white, /*border*/
    0.3em 0.3em 1em var(--main-color);;
    
}

nav .container:last-child{
    text-align: end;
}

/*header*/
header{
    display: grid;
    padding: 100px 60px;
    max-width: 100%;
    height: 80vh; /*height locate height header = 80% always*/
    grid-template-columns: (repeat, 1fr); /*1fr * 2 */
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "t p";
    align-items: center;
    text-align: center;
    gap: 20px;
    
}

#text { grid-area: t;}
#picture { grid-area: p;}

#text h2 span{
    font-family: Agbalumo;
    color: var(--main-color);
    font-size: 40px;
}

#text h2 .pink{
    color: var(--second-color);
}


#text ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}


#text ul li{
    text-decoration: none;
    list-style: none;
    padding: 10px 14px;
    border-radius: 70px;
    background: rgb(188, 183, 183);
}


#text ul li:hover{
    background: rgb(255, 255, 255);
}

#text ul li i{
    font-size: 18px;
    color: rgb(54, 54, 53);
}

#picture img{
    max-width: 250px;
    border-radius: 30px;
    box-shadow:
    inset 0 -3em 3em rgba(57, 155, 12, 0.3),
    0 0 0 2px white,
    0.3em 0.3em 1em var(--second-color);
    
}

/***** My work *************************************************/
#Mywork{
    background: rgb(250, 193, 202);
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
}


main .container h2{
    border-radius: 20px;
    color: rgb(253, 250, 250);
    padding: 20px 0px;
    margin: 20px 9rem;
    box-shadow:
    0 0 0 2px rgb(254, 255, 255), /*border*/
    0.3em 0.3em 1em rgba(67, 34, 117, 0.6);

}


main .container:nth-child(2){
    color:  grey;
    padding-top: 30px;
}

main .container:nth-child(4){
    color:  grey;;
}


main > .frontEnd, .graphic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

main .container > div{
    position: relative;
    padding: 100px;
    margin: 30px 20px;
    border-radius: 10px;
    box-shadow:  
    0 0 0 2px white, /*border*/
    0.3em 0.3em 2em rgba(24, 20, 32, 0.6);
}

main .container img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*border have to put for same as frontEnd > div border */
    border-radius: 10px;
    opacity: .1;
    /*I have to put it because if not put it will black*/
    -webkit-backdrop-filter: blur(20px);
}

main .container img:hover{
    opacity: .8;
   
}

main .container a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 0;
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(150, 148, 148);
    font-family: Agbalumo;
    padding: 0px 10px;
}

/***** About *************************************************/
#About{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*1fr * 2 */
    grid-template-rows: auto auto  auto;
    grid-template-areas: "a a a" "p p s" " c c c ";
    justify-content: space-around;
    padding: 100px;

    
}

.about { grid-area: a;}
.picture { grid-area: p;}
.skill  { grid-area: s;}
.certificate { grid-area: c;}



#About .container h2{
    border-radius: 20px;
    color: black;
    padding: 20px 0px;
    margin: 0px 9rem 70px 9rem;
    box-shadow:
    0 0 0 2px rgb(254, 255, 255), /*border*/
    0.3em 0.3em 1em rgba(67, 34, 117, 0.6);
    text-align: center;

}

.picture img {
    width: 100%;
    max-width: 500px;
}


.skills{
    text-align: center;
}


.skills h3{
    font-size: 35px;
    padding-bottom: 10px ;
    color:var(--main-color);
    font-weight: 500;
}
.firstSkills{
    padding-top: 70px ;
}

.skills .container{
    padding-bottom: 25px ;
}

.certificate h3{
    padding: 80px 0px 50px 0px;
    font-size: 40px;
    color: var(--main-color);
    text-align: center;
    font-weight: 500;
    
}

.certificate img{
    max-width: 200px;
} 

.certificate .container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;

    
}








/***** Footer *************************************************/





/***** Media screen laptop *****************************************/

@media screen and (max-width: 992px) {

    *{
        font-size: 13px;
    }

    nav .container:nth-child(2){
        margin-left: 35px;
        color: var(--font2--color);
    }

    nav img{
        width: 200px;
    }
 

    header{
        height: 80vh;
    }

    main > .frontEnd, .graphic{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 

    #picture img{
        max-width: 220px;   
    }

    .picture img {
        max-width: 450px;
    }

    .certificate img{
        max-width: 170px;
    } 

}
/***** Media screen Phone *****************************************/

@media screen and (max-width: 769px) {
    h3 {
        font-size: 15px;
    }

    nav .container:nth-child(2){
        display: none;
    }  

    #text h2 span{
        font-size: 24px;
    }

    header{
        height: 75vh;
    }

    main > .frontEnd, .graphic{
        display: grid;
        grid-template-columns: 1fr;
    }      

    main .container > div{
        padding: 150px;
    }

    #About{
        grid-template-columns: 1fr;
        grid-template-areas: "a a a" "p p p" "s s s"" c c c ";
       
        
    }

    .skills{
       display: flex;
       flex-direction: row;
      
    }

    .skills h3{
        font-size: 29px;
    }

    .secondSkills{
        padding-top: 70px ;
    }
    
    

    .certificate .container{
        grid-template-columns: 1fr;
    
    } 

    
}